<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.howfun.android.screenmask" android:versionCode="2"
	android:versionName="@string/version">



	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:name=".MainPage" android:label="@string/app_name"
			android:theme="@style/BgTransparent">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<meta-data android:value="43996a792a0344da91189703f057a8e2" android:name="Wooboo_PID" />
		<meta-data android:value="1" android:name="Market_ID" />
	</application>
	<uses-sdk android:minSdkVersion="7" />

	<!-- AdMob SDK permissions -->
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

	<uses-permission android:name="android.permission.READ_PHONE_STATE" />


</manifest> 